In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kargasok,RU,2021-09-22 22:28:08,59.0556,80.8572,32.83,89,100,5.55
1,1,Poum,NC,2021-09-22 22:28:08,-20.2333,164.0167,71.20,65,57,21.18
2,2,Neuquen,AR,2021-09-22 22:28:09,-38.9516,-68.0591,67.89,30,0,13.80
3,3,Cidreira,BR,2021-09-22 22:28:09,-30.1811,-50.2056,62.02,71,10,15.43
4,4,Albany,US,2021-09-22 22:26:18,42.6001,-73.9662,76.64,78,88,11.10

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Albany,US,2021-09-22 22:26:18,42.6001,-73.9662,76.64,78,88,11.10
7,7,Novo Aripuana,BR,2021-09-22 22:28:10,-5.1206,-60.3797,79.27,72,99,3.06
16,16,Salalah,OM,2021-09-22 22:28:13,17.0151,54.0924,80.69,89,0,2.30
18,18,Russell,US,2021-09-22 22:28:14,32.3502,-85.1999,75.11,65,20,14.97
20,20,Puerto Ayora,EC,2021-09-22 22:28:15,-0.7393,-90.3518,76.96,84,75,10.56
26,26,The Valley,AI,2021-09-22 22:28:17,18.2170,-63.0578,84.34,70,20,8.05
27,27,Oussouye,SN,2021-09-22 22:28:17,12.4850,-16.5469,84.29,88,94,5.10
35,35,Acarau,BR,2021-09-22 22:28:20,-2.8856,-40.1200,79.45,80,90,16.15
36,36,Cayenne,GF,2021-09-22 22:27:05,4.9333,-52.3333,84.09,80,0,5.01
39,39,Bethel,US,2021-09-22 22:28:21,41.3712,-73.4140,76.05,85,75,1.01

In [11]:
len(preferred_cities_df)

163

In [12]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
# Add a new column to the hotel_df to hold the name of the hotel
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat      Lng Hotel Name
4          Albany      US     76.64  42.6001 -73.9662
7   Novo Aripuana      BR     79.27  -5.1206 -60.3797
16        Salalah      OM     80.69  17.0151  54.0924
18        Russell      US     75.11  32.3502 -85.1999
20   Puerto Ayora      EC     76.96  -0.7393 -90.3518
26     The Valley      AI     84.34  18.2170 -63.0578
27       Oussouye      SN     84.29  12.4850 -16.5469
35         Acarau      BR     79.45  -2.8856 -40.1200
36        Cayenne      GF     84.09   4.9333 -52.3333
39         Bethel      US     76.05  41.3712 -73.4140

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Albany,US,76.64,42.6001,-73.9662,
7,Novo Aripuana,BR,79.27,-5.1206,-60.3797,POUSADA Flexy
16,Salalah,OM,80.69,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
18,Russell,US,75.11,32.3502,-85.1999,Macs
20,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
26,The Valley,AI,84.34,18.2170,-63.0578,CeBlue Villas & Beach Resort
27,Oussouye,SN,84.29,12.4850,-16.5469,Auberge du Routard
35,Acarau,BR,79.45,-2.8856,-40.1200,castelo pizzaria
36,Cayenne,GF,84.09,4.9333,-52.3333,Hôtel Le Dronmi
39,Bethel,US,76.05,41.3712,-73.4140,Courtyard by Marriott Danbury

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))