## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Praia,CV,14.9215,-23.5087,82.94,69,20,12.66,few clouds
1,1,Ayan,RU,56.4500,138.1667,44.94,59,32,5.64,scattered clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,46.06,46,20,6.91,few clouds
3,3,Guayaramerin,BO,-10.8368,-65.3614,95.05,41,0,8.05,clear sky
4,4,Busselton,AU,-33.6500,115.3333,57.04,90,76,14.36,broken clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filter_city_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                            (city_data_df['Max Temp'] >= min_temp)]
filter_city_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Praia,CV,14.9215,-23.5087,82.94,69,20,12.66,few clouds
10,10,Tura,IN,25.5198,90.2201,76.14,87,39,3.09,scattered clouds
14,14,Cabadiangan,PH,9.7531,122.4739,77.32,88,47,3.85,scattered clouds
19,19,Mana,GF,5.6592,-53.7767,86.29,66,32,12.03,scattered clouds
25,25,Kapaa,US,22.0752,-159.3190,80.92,78,20,4.00,light rain
...,...,...,...,...,...,...,...,...,...,...
555,555,Tamiahua,MX,21.2667,-97.4500,84.34,66,83,8.50,broken clouds
557,557,Kilindoni,TZ,-7.9139,39.6668,76.08,77,0,9.31,clear sky
558,558,San Juan De Uraba,CO,8.7592,-76.5297,85.68,72,94,7.43,overcast clouds
565,565,Anloga,GH,5.7947,0.8973,79.02,83,74,10.92,light rain
566,566,High Rock,BS,26.6208,-78.2833,84.22,66,10,14.70,clear sky

In [14]:
# 4a. Determine if there are any empty rows.
filter_city_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filter_city_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Praia,CV,14.9215,-23.5087,82.94,69,20,12.66,few clouds
10,10,Tura,IN,25.5198,90.2201,76.14,87,39,3.09,scattered clouds
14,14,Cabadiangan,PH,9.7531,122.4739,77.32,88,47,3.85,scattered clouds
19,19,Mana,GF,5.6592,-53.7767,86.29,66,32,12.03,scattered clouds
25,25,Kapaa,US,22.0752,-159.3190,80.92,78,20,4.00,light rain
...,...,...,...,...,...,...,...,...,...,...
555,555,Tamiahua,MX,21.2667,-97.4500,84.34,66,83,8.50,broken clouds
557,557,Kilindoni,TZ,-7.9139,39.6668,76.08,77,0,9.31,clear sky
558,558,San Juan De Uraba,CO,8.7592,-76.5297,85.68,72,94,7.43,overcast clouds
565,565,Anloga,GH,5.7947,0.8973,79.02,83,74,10.92,light rain
566,566,High Rock,BS,26.6208,-78.2833,84.22,66,10,14.70,clear sky

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Praia,CV,82.94,few clouds,14.9215,-23.5087,
10,Tura,IN,76.14,scattered clouds,25.5198,90.2201,
14,Cabadiangan,PH,77.32,scattered clouds,9.7531,122.4739,
19,Mana,GF,86.29,scattered clouds,5.6592,-53.7767,
25,Kapaa,US,80.92,light rain,22.0752,-159.3190,
28,Samana,DO,89.82,few clouds,19.2056,-69.3369,
31,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,
38,Bengkulu,ID,75.38,overcast clouds,-3.8004,102.2655,
42,Giyani,ZA,77.77,clear sky,-23.3025,30.7187,
46,Hambantota,LK,79.72,overcast clouds,6.1241,81.1185,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Praia,CV,82.94,few clouds,14.9215,-23.5087,LT Aparthotel
10,Tura,IN,76.14,scattered clouds,25.5198,90.2201,Hotel RIKMAN Continental
14,Cabadiangan,PH,77.32,scattered clouds,9.7531,122.4739,Kipot
19,Mana,GF,86.29,scattered clouds,5.6592,-53.7767,LE SAMANA
25,Kapaa,US,80.92,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
555,Tamiahua,MX,84.34,broken clouds,21.2667,-97.4500,Mission Of The Sun Hotel
557,Kilindoni,TZ,76.08,clear sky,-7.9139,39.6668,Bustani B&B
558,San Juan De Uraba,CO,85.68,overcast clouds,8.7592,-76.5297,Hotel Cerro De Zumba
565,Anloga,GH,79.02,light rain,5.7947,0.8973,Pin Drop Hotel
566,High Rock,BS,84.22,clear sky,26.6208,-78.2833,Hideaway Bahamas Beach Club

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))